body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", serif;
}
h1 {
    margin: 0px;
    padding: 0px;
}

/* Nav */
#nav {
    margin: 0px;
    background-color: #000000;
    border-radius: 0%;
    border: 0px;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
}
li a:hover {
    background-color: #3e3e40;
    text-decoration: none;
    color: white;
}
#boxLogo {
    display: block;
    height: 40px;
    width: auto;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

/* Home1 */
.home1 {
    background-image: url(Images/HOME1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: auto;
    padding-left: 10%;
    padding-top: 200px;
}
.home1text {
    text-align: left;
    color: white;
    margin: 0px;
    padding: 0px;
    width: 600px;
}
#learnMoreBtn {
    background-color: #fed49b;
    border: none;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 15px;
}
#homeH1 {
    font-size: 40px;
}
#homeP1 {
    font-size: 30px;
}

/* Home2 */
#home2 {
    background-image: url(Images/HOME2.jpg);
    background-size: cover;
    color: white;
    height: 750px;
    width: auto;
}
#learnerBtn,
#educatorBtn {
    background-color: #fed49b;
    border: none;
    padding: 10px;
    width: 220px;
    font-size: 20px;
}
#home2img {
    height: auto;
    width: 600px;
    display: flex;
    box-shadow: 10px 10px 50px 1px #000000;
}
.flexParent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.flexChild {
    flex: 1;
    width: 30%;
}

#home2tb {
    background-color: #000000;
    width: 600px;
    height: 400px;
    box-shadow: 10px 10px 50px 1px #000000;
}
#home2tbTitle {
    font-size: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}
#text {
    color: #80d3ec;
    font-size: 20px;
}
#text1,
#text2 {
    width: 220px;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.flex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}

/* Footer */
#footerFlex {
    display: flex;
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    color: white;
    height: 250px;
    align-items: center;
    justify-content: space-evenly;
}
footer p {
    margin: 0px;
    padding: 0px;
}
#footerLogo {
    height: 200px;
    width: auto;
}
#footerImg {
    float: left;
    padding: 20px;
}
#footerInfo {
    color: white;
    font-size: 25px;
    padding: 20px;
}
#contact {
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}
#footerFlex2 {
    display: flex;
    align-items: center;
}
#email {
    text-decoration: none;
    color: white;
}

/* Mobile */
@media only screen and (max-width: 1200px) {

    /* Home2 */
    .flexParent {
        flex-direction: column;
    }
    #home2 {
        height: fit-content;
    }
    #home2tb {
        margin-top: 40px;
    }
    #home2img {
        margin-bottom: 40px;
    }

    /* Home1 */
}

@media only screen and (max-width: 650px) {

    /* Home2 */
    #home2img {
        height: 300px;
        width: auto;
    }
    #home2tb {
        height: 300px;
        width: 450px;
    }
    #learnerBtn,
    #educatorBtn {
        width: 160px;
        font-size: 14px;
    }
    #home2tbTitle {
        font-size: 14px;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    #text {
        font-size: 14px;
    }
    #text1,
    #text2 {
        width: 160px;
    } 

    /* nav */
    li {
        float: none;
    }
    #boxLogo {
        float: none;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
    }

    /* Home1 */
    #homeH1 {
        font-size: 35px;
    }
    .home1 {
        padding-top: 180px;
    }
    .home1text {
        width: 400px;
    }
    #homeP1 {
        font-size: 25px;
    }

    /* footer */
    #footerLogo {
        height: 150px;
        width: auto;
    }
    #footerInfo {
        font-size: 20px;
    }
    #contact {
        line-height: 30px;
    }
    #footerFlex {
        height: 200px;
    }
}

@media only screen and (max-width: 500px) {
    /* Home2 */
    #home2img {
        height: 250px;
        width: auto;
    }
    #home2tb {
        height: 250px;
        width: 375px;
    }
    #learnerBtn,
    #educatorBtn {
        width: 140px;
        font-size: 12px;
    }
    #home2tbTitle {
        font-size: 12px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    #text {
        font-size: 12px;
    }
    #text1,
    #text2 {
        width: 140px;
    } 
    
    /* Home1 */
    .home1text {
        width: 90%;
    }

    /* footer */
    #footerLogo {
        height: 100px;
        width: auto;
    }
    #footerInfo {
        font-size: 15px;
    }
    #contact {
        line-height: 25px;
    }
    #footerFlex {
        height: 150px;
    }
}

@media only screen and (max-width: 400px) {
    /* Home2 */
    #home2img {
        height: 200px;
        width: auto;
    }
    #home2tb {
        height: 200px;
        width: 300px;
    }
    #learnerBtn,
    #educatorBtn {
        width: 120px;
        font-size: 10px;
    }
    #home2tbTitle {
        font-size: 10px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    #text {
        font-size: 10px;
    }
    #text1,
    #text2 {
        width: 120px;
    } 
}